### ark

1.  bullet
1.  bul

In [3]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
#print(brics)
brics.tail(3)

        country    capital   area  population
2         India  New Dehli  3.286     1252.00
3         China    Beijing  9.597     1357.00
4  South Africa   Pretoria  1.221       52.98

Colon in Pandas excludes upper bound (only if used by int index?)
* .loc - access a group of rows and columns by label(s) or a boolean array
* .iloc - access a group of rows and columns by int. Positions

In [ ]:
print(cars.loc[['AUS', 'EG'], ['drives_right', 'cars_per_cap']])
#Prints rows in first argument and columns in second argument
print(cars.loc[
    ['AUS', 'EG'],                     ###   rows selection
    ['drives_right', 'cars_per_cap']   ###  columns selection (optional)
])

In [ ]:
pd.DataFrame()